* {
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
}

.position {
  position: absolute;
  left: 0;
}

.wrap {
  text-align: center;
  margin-top: 9rem;
  display: flex;
  justify-content: center;

}


.logoImg {
  margin-top: 3em;
  width: 150px;
}

.formContainer {
  width: 350px;
  height: 350px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: #202020;
  -webkit-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.39);
  -moz-box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.39);
  box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.39);
}

.inputUser,
.inputPass {
  width: 180px;
  padding: 5px;
  text-align: center;
  margin: 10px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.position {
  position: relative;
  left: 10px;
}

.inputUser {
  margin-top: 2rem;
}

.inputPass {
  margin-top: 2em;
}

.btn {
  margin-top: 2em;
  background: aliceblue;
  color: #202020;
  width: 80px;
  padding: 5px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.btn:hover {
  -webkit-box-shadow: 0px 0px 5 1px #fd717165;
  -moz-box-shadow: 0px 0px 40px 1px #fd717165;
  box-shadow: 0px 0px 40px 1px #fd717165;
  background: #fff7f7;
}
.btn:active {
  -webkit-box-shadow: 0 0 0 0 #fd717165;
  -moz-box-shadow: 0 0 0 0 #fd717165;
  box-shadow: 0 0 0 0 #fd717165;
  background: #fff7f7;
}
