.box {
  border-left: 3px red solid;
  background: #202020;
  color: aliceblue;
  padding: 10px;
  height: 30px;
  width: 300px;
  position: absolute;
  top: 90vh;
  left: 30px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.parag {
  text-align: left;
  padding-top: 7px;
}