
.NavList {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  padding: 10px;
  position: fixed;
  justify-content: space-between;
  background: #202020;
  overflow: -moz-hidden-unscrollable;
}

.NavItem {
  margin-top: 5px;
  overflow: hidden;
  justify-self: left;
  color: aliceblue;
  list-style: none;
} .NavItem:first-child {
  margin-left: 30px;
}

.UserCont {
  justify-self: right;
  color: #f0f8ff;
  list-style: none;
  margin-left: 50vw;
  margin-right: 30px;
}

.Link {
  color: white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
} .Link:hover {
  color: aquamarine;

}