.Container {
  padding: 3em;
  width: 700px;
  margin-top: 7em;
  margin-inline: auto;
  background: #202020;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

h3 {
  text-align: center;
  color: aliceblue;
}


/* Remover setas do type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}