@import url('https://fonts.googleapis.com/css2?family=Armata&display=swap');

* {
  font-family: 'Armata', sans-serif;
  outline: none;
  margin: 0;
  padding: 0;
  user-select: none;
  outline: none;
  border: none;
}

body {
  background: rgb(201, 201, 201);
  background: linear-gradient(270deg, rgb(198, 235, 250) 0%, rgb(253, 253, 253) 100%);
  color: aliceblue;
}
